<!-- Modify the HTML of the PlaceForm component to include a form that will add a new place (including city, country, and description) upon submission.  -->
<form (ngSubmit)='formSubmit()'>
  <div>
    <label for="city">City: </label>
    <input type="text" placeholder="City" id="city" name="city" required [(ngModel)]="model.city"/>
  </div>
  
  <div>
    <label for="country">Country: </label>
    <input type="text" placeholder="Country" id="country" name="country" required [(ngModel)]="model.country">
  </div>

  <div>
    <label for="description">Description: </label>
    <textarea type="text" placeholder="Description" id="description" name="description" required [(ngModel)]="model.description"></textarea>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>