<div id="header">
  <h1>
    {{ title }}'s Portfolio Page!
  </h1>
  <img alt="Angular Logo" src="../assets/images/margaret.jpg">
  <h3>I was born in {{ city }} in 1936.</h3>
  <h5>Tagline: {{ tagline }}</h5>
  <p>{{ aboutMe }}</p>
<!-- Add the PlaceForm component into the base component above the FavoritePlaces component. -->
  <app-place-form></app-place-form>
  <app-favorite-places></app-favorite-places>
</div>

